nav {
    background-color: beige;
    color: rgb(138, 111, 111);
    font-size: 18px;
}

ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    padding: 1em 1.5em;
    cursor: pointer;
    text-align: center;
}

ul>li:not(:first-child) {
    border-top: 1px solid bisque;
}

li:hover {
    background-color: bisque;
}

@media (min-width:600px) {
    ul {
        flex-direction: row;
    }

    ul li:nth-of-type(4) {
        margin-left: auto;
    }

    ul li:not(:last-of-type, :nth-of-type(3)) {
        border-right: 1px solid bisque;
    }

    ul>li:not(:first-child) {
        border-top: none;
    }
}