:root {
    --circle-thikness: 25px;
}

div {
    border-radius: 50%;
}

#outer {
    --orange-size: calc(var(--circle-thikness) * 8);

    height: var(--orange-size);
    width: var(--orange-size);
    background-color: orange;
    border: var(--circle-thikness) solid red;
    padding: var(--circle-thikness);
}

#middle {
    --green-size: calc(var(--circle-thikness) * 4);

    height: var(--green-size);
    width: var(--green-size);
    background-color: green;
    border: var(--circle-thikness) solid yellow;
    padding: var(--circle-thikness);
}

#inner {
    --purple-size: calc(var(--circle-thikness) * 2);

    height: var(--purple-size);
    width: var(--purple-size);
    background-color: purple;
    border: var(--circle-thikness) solid blue;
}